// border
.border-glay { border:1px solid $color_gray_L; }
.border-glay_bold { border:0.09em solid #c4c4c4; }
// a font color 
.font-c_white { color:#ffffff; }
// ----------------------------------------
// fetured_company
// ----------------------------------------
.fetured_company {
	.post_wrap {
		max-width: 1080px;
		margin: 3em auto 0 auto;
	}
	.post_block {
		display: inline-block;
		vertical-align: top;
		margin: .8em .6em;
		max-width: 320px;
		a {
			display: block;
			background: #fff;
			position: relative;
			.post_thumb {
				height: 150px;
				overflow: hidden;
				position: relative;
				img {
					@include transition(all, .2s, ease-in-out);
					@include transform(scale(1));
					width: 100%;
				}
				.new {
					position: absolute;
					top: 0;
					left: 0;
					background: #ffffff;
					color: $color_blue;
					font-weight: 700;
					font-size: 1.1em;
					width: 80px;
					height: 30px;
					line-height: 28px;
				}
			}
			.company_data {
				padding: 2em 1em;
				display: table;
				width: 100%;
				max-height: 114px;
				min-height: 114px;
				.logo {
					display: table-cell;
					vertical-align: middle;
					width: 90px;
					img {
					}
				}
				.text {
					display: table-cell;
					vertical-align: middle;
					text-align: left;
					padding: 0 0 0 2em;
					height: 67px;
					.name {
						font-weight: 700;
						font-size: 1.2em;
						line-height: 1.4;
					}
					.address {
						margin: .6em 0 0 0;
						line-height: 1.6;
						font-size: 1em;
						background: url(../img/icon/icon-map_pin_1.svg) no-repeat left 2px;
						padding: 0 0 0 16px;
					}
				}
			}
			.post_overlay {
				position: absolute;
				left: 0;
				top: 0;
				width: 100%;
				height: 100%;
				border: 0px solid #0b4477;
				-webkit-transition: border-width 0.1s;
				transition: border-width 0.1s;
			}
			&:hover {
				.post_thumb {
					img {
						opacity: .6;
						@include transform(scale(1.2,1.2));
					}
				}
				.post_overlay {
					border-width: 2px;
				}
			}
		}
	}
}
@media #{$small} {
	.fetured_company {
		.post_wrap {
			margin-top: 2em;
		}
		.post_block {
			max-width: 48%;
			margin: .6em 0 0 0;
			a {
				.post_thumb {
					height: auto;
					img {}
					.new {
						width: 40px;
						font-size: .7em;
						line-height: 20px;
						height: 20px;
					}
				}
				.post_overlay {
					display: none;
				}
				.company_data {
					display: block;
					padding: 1em;
					position: relative;
					.logo {
						position: absolute;
						top: -2em;
						right: 0;
						display: table;
						background: #eee;
						padding: .3em .8em;
						img {
							display: table-cell;
    						vertical-align: middle;
						}
					}
					.text {
						display: block;
						padding: 0;
						position: relative;
						z-index: 10;
						.name {
							font-size: 1em;
						}
						.address {}
					}
				}
			}
		}
	}
}




// ----------------------------------------
// fetured_list
// ----------------------------------------
.fetured_list {
	.post_wrap {
		max-width: 1080px;
		width: 100%;
		margin: 4em auto 0 auto;
	}
	.post_block {
		max-width: 485px;
		width: 100%;
		display: inline-block;
		vertical-align: top;
		margin: .8em .6em;
		> a {
			display: block;
			position: relative;
			@include transition(all, .3s, cubic-bezier(0,1,.64,1));
			.new {
				display: none;
			}
			.post_thumb {
				img {}
			}
			.post_overlay {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				opacity: 0;
				background: rgba(0,0,0, .5);
				@include transition(all, .2s, ease);
			}
			.block_data {
				position: absolute;
				width: 100%;
				height: 100%;
				top: 0;
				left: 0;
				color: #fff;
				.description {
					padding: 3em 3em 0 3em;
					text-align: left;
					.text {
						opacity: 0;
						@include transition(all, .4s, ease);
						top: .4em;
						position: relative;
						font-size: 2.8em;
						font-weight: 700;
						line-height: 1.15;
					}
				}
				.item_list {
					opacity: 0;
					@include transition(all, .4s, ease);
					position: absolute;
					width: 100%;
					bottom: -0.6em;
					padding: 0 3em 2em 3em;
					text-align: left;
					li {
						display: inline-block;
						vertical-align: top;
						font-size: 1.2em;
						margin: .3em 2em 0 0;
						line-height: 1.4;
						&.name {}
						&.age {}
						&.map {
							background: url(../img/icon/icon-map_pin_1.svg) no-repeat left 2px;
							padding: 0 0 0 16px;
						}
					}
				}
			}
		}
		> a {
			&:hover {
				.post_thumb {
					img {}
				}
				.post_overlay {
					opacity: 1;
				}
				.block_data {
					opacity: 1;
					.description {
						.text {
							opacity: 1;
							top: 0;
						}
					}
					.item_list {
						opacity: 1;
						bottom: 0;
					}
				}

			}
		}
	}
}
@media #{$small} {
	.fetured_list {
		.post_wrap {
			margin-top: 2em;
			padding: 0 1.6em;
		}
		.post_block {
			width: auto;
			max-width: none;
			display: block;
			margin: 1em auto 0 auto;
			> a {
				.post_overlay {
					display: none;
				}
				.post_thumb {
					img {}
				}
				.block_data {
					position: relative;
					width: auto;
					height: auto;
					color: #333;
					background: #fff;
					.description {
						padding: 1em 1.6em;
						.text {
							opacity: 1;
							font-size: 1.2em;
							top: 0;
							line-height: 1.4;
						}
					}
					.item_list {
						opacity: 1;
						position: relative;
						bottom: 0;
						padding: 0 1.6em 2em 1.6em;
						li {
							font-size: 1em;
							&.name {
								display: block;
								margin: 0;
							}
							&.age {}
							&.map {}
						}
					}
				}
			}
		}
	}
}



// ----------------------------------------
// news_list
// ----------------------------------------
.news_list {
	.news_block {
		max-width: 1024px;
		width: 100%;
		margin: 0 auto;
		text-align: left;
		&.p-scrollbar {
			position: relative;
			height: 200px;
			padding-right: 2em;
		}
		> li {
			margin: 1em 0;
			a {
				display: block;
				width: 100%;
				.time_block {
					display: inline-block;
					vertical-align: top;
					width: 15%;
					.time {
						font-size: 1.1em;
						display: inline-block;
						vertical-align: middle;
						margin: 0 8px 0 0;
					}
					.new {
						background: $color_blue;
						color: #fff;
						font-size: .9em;
						display: inline-block;
						vertical-align: middle;
						padding: .1em 1em;
					}
				}
				.text_block {
					display: inline-block;
					vertical-align: top;
					width: 84%;
					p {
						overflow: hidden;
						white-space: nowrap;
						text-overflow: ellipsis;
					}
				}
			}
		}
	}
	.btn_news {
		a {
			padding: .4em 0;
			color: $color_blue;
			min-width: auto;
			position: relative;
			&:after {
				content: '';
				position: absolute;
				bottom: 0;
				left: 0;
				background: $color_blue;
				height: 1px;
				width: 100%;
			}
			span {}
			i {
				font-size: 1.2em;
				position: relative;
				right: 6px;
			}
		}
	}
}
@media #{$small} {
	.news_list {
		.news_block {
			max-width: none;
			width: auto;
			padding: 0 1.6em !important;
			&.p-scrollbar {
				height: 160px;
				padding-right: 0;
			}
			> li {
				border-bottom: 1px solid #eee;
				margin: 0;
				a {
					padding: .8em 0;
					.time_block {
						display: block;
						width: auto;
						.time {
							font-size: .8em;
						}
						.new {
							font-size: .8em;
						}
					}
					.text_block {
						display: block;
						width: auto;
						p {}
					}
				}
			}
		}
		.btn_news {
			padding: 0 1.6em;
			a {
				display: block;
				padding: .4em 0;
				border: 1px solid $color_blue;
				&:after {
					content: none;
				}
				span {
					font-size: .8em;
				}
				i {
					font-size: 1.2em;
					position: relative;
					right: 6px;
				}
			}
		}
	}
}


//entry or both line
.entry_or-lines {
    display: table;
    text-align: center;
    white-space: nowrap;
 
    &:after,
    &:before {
        content: '';
        display: table-cell;
        width: 50%;
        background: linear-gradient(transparent 50%, currentColor 50%, currentColor calc(50% + 1px), transparent calc(50% + 1px));
        color: $color_gray_L;
    }
 
    &:after {
        border-left: 1em solid transparent;
    }
 
    &:before {
        border-right: 1em solid transparent;
    }
    p {
    		padding:0 1em;
    }
} 
input[type=radio], input[type=checkbox] {
  display: none;
}

.checkbox {
  box-sizing: border-box;
  -webkit-transition: background-color 0.2s linear;
  transition: background-color 0.2s linear;
  position: relative;
  display: inline-block;
  padding: 12px 12px 12px 42px;
  border-radius: 8px;
  vertical-align: middle;
  cursor: pointer;

  &:after {
    -webkit-transition: border-color 0.2s linear;
    transition: border-color 0.2s linear;
    position: absolute;
    top: 50%;
    left: 15px;
    display: block;
    margin-top: -10px;
    width: 20px;
    height: 20px;
    border: 1px solid #e2e2e2;
    border-radius: 3px;
    content: '';
  }
}
.checkbox {
  &:before {
    -webkit-transition: opacity 0.2s linear;
    transition: opacity 0.2s linear;
    position: absolute;
    top: 50%;
    left: 23px;
    display: block;
    margin-top: -6px;
    width: 5px;
    height: 9px;
    border-right: 1px solid $color_gray_D;
    border-bottom: 1px solid $color_gray_D;
    content: '';
    opacity: 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    input[type=checkbox]:checked + & {
      opacity: 1;
    }
  }
  &:after {
  	border-radius: 3px;
	}
}
